<div class='head-text animated bounceInLeft'>
        <h1>Login With Your Social Media Account</h1>
</div>
<div class="social-container">
<div id="social" class="btn-floating waves-effect waves-light btn-large brand-text social-item  animated bounceInUp">
    <i class="fa fa-facebook"></i>
</div>

<div id="social" class="btn-floating waves-effect waves-light btn-large brand-text social-item orange  animated bounceInDown" (click)='googleAuthentication()'>
    <i class="fa fa-google-plus"></i>
</div>
<div id="social" class="btn-floating waves-effect waves-light btn-large brand-text social-item light-green  animated bounceInUp">
    <i class="fa fa-twitter"></i>
</div>
<div id="social" class="btn-floating waves-effect waves-light btn-large brand-text social-item black  animated bounceInDown">
    <i class="fa fa-github"></i>
</div>

</div>

<div class='head-text animated fadeIn'>
        <h3 class="lines-on-sides">Or</h3>       
</div>

<div class='head-text animated fadeInUp'>
        <a class="waves-effect waves-light btn-large brand-bg white-text"><i class="mdi-content-mail left"></i> Login with Email</a>
</div>

