

<div class="social-container">
<div id="social" class="btn-floating waves-effect waves-light btn-large brand-text social-item ">
    <i class="fa fa-facebook"></i>
</div>

<div id="social" class="btn-floating waves-effect waves-light btn-large brand-text social-item orange" (click)='googleAuthentication()'>
    <i class="fa fa-google-plus"></i>
</div>
<div id="social" class="btn-floating waves-effect waves-light btn-large brand-text social-item light-green">
    <i class="fa fa-twitter"></i>
</div>
<div id="social" class="btn-floating waves-effect waves-light btn-large brand-text social-item black">
    <i class="fa fa-github"></i>
</div>
</div>