<a routerLink="/admin"><div id="show" class="btn-floating pulse waves-effect waves-light btn-large brand-text">
    <i class="fa fa-cloud-upload"></i>
</div>
</a>
<!-- Main Container -->
<main id="app" class="main-section">
  <!-- header navigation start -->
 <app-header></app-header>
  <!-- #header  navigation end -->

 

  <!-- About Section start -->
  <section id="main" class="scroll-section root-sec padd-tb-140  blogpage-posts-wrap green">
    <div class="container">
      <div class="row">
       
        <router-outlet></router-outlet>
          
      </div>
    </div>
    <!-- .container end -->
  </section>
  <!-- #about Section end -->

 

  <!-- Footer Section end -->
  <app-footer></app-footer>
  <!-- #footer end -->

</main>
<!-- Main Container end-->